<h1>Courses Page</h1>

{{#if courses.length }}
{{#each courses}}
<div class="course_form">
  <img src="{{img}}" alt="" width="140">
  <p class="course_title">{{title}}</p>
  <p class="course_price">{{price}}</p>
  <a href="/courses/{{id}}">Open</a>
  <a href="/courses/{{id}}/edit?allow=true">Edit</a>
  <form action="/card/add" method="POST">
    <input type="hidden" name="id" value="{{id}}">
    <button type="submit">Buy</button>
  </form>
</div>
{{/each }}
{{else }}
<p>Nothing</p>
{{/if }}